
<div class="shadow p-2 mb-5 bg-white rounded">
  <div class="p-3 mb-2 bg-danger text-white">
    <h1  class="text-center">Causas del calentamiento global</h1>
</div>
</div>
<div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
  <div class="text-center">
  <figure class="text-left">
    <blockquote class="blockquote">
      <p class="h2">El ser humano</p>
    </blockquote>
    </figure>
  </div>
<br><br>


<div class="text-center">
<p>Antes de analizar las principales causas del calentamiento global</p>
<p>debe quedar claro que el calentamiento global es un </p>
<p>proceso natural que ha sido parte de la evolución durante miles de años.</p>
</div>
 <div class="text-center">
      <p class="text">Lo nuevo en esta crisis es que la actividad humana ha acelerado el </p>
      <p>durante los últimos dos siglos, causando daños sin precedentes </p>
      <p>desde que se tomaron tales medidas.</p>
      <p>Como veremos más adelante, los humanos somos responsables del cambio </p>
        <p>climático y de las emisiones de gases de efecto invernadero. </p>
       <p>El gas de efecto invernadero más común es el dióxido de carbono, </p>
    <p>que representa el 63% del calentamiento global, pero también hay otros</p>
        <p>contribuyentes que causan este daño los cuales son:</p>
    </div>
    <div class="text-center">
      <img src="./assets/persona.jpg"
      width="500" height="400"  />
    </div>
<div class="text-center">

  <div class="pt-5">
    <p class="h2">Listado de las 4 principales causas del calentamiento global</p>

</div>
    <ul class="list-group">

      <li class="list-group-item">Deforestación</li>
      <li class="list-group-item">Aumento de los gases de efecto invernadero</li>
      <li class="list-group-item">Uso de fertilizantes, la actividad química para el tratamiento de aguas residuales</li>
      <li class="list-group-item">Rápido crecimiento de la población</li>
    </ul>


  <div class="pt-5">

  </div><footer class="text-center text-white">
  <!-- Grid container -->
 
  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgb(250,136,115);">
    
    <a class="text-dark" href="grafica/">Calentamiento global en mi comunidad</a>
  </div>
  <!-- Copyright -->
</footer>
