<!--
<h2>Grafica</h2>
<app-grafica></app-grafica>
<h1></h1>
 -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="login/">Registrate</a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"

    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="causas/">Causas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="consecuencias/">Consecuencias</a>

        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="grafica/">Graficas</a>
        </li>
      </ul>
      </div>
      </div>
      </nav>
<router-outlet></router-outlet>
