<head>
</head>

  <blockquote class="blockquote text-center">
    <p class="mb-0">Consecuencias</p>
    <footer class="blockquote-footer">Todo lo que <cite title="Source Title">provocamos</cite></footer>

<br>
<blockquote class="blockquote text-left">
<footer class="blockquote-footer block ter"> <cite title="Source Title"> Mediante los siguientes puntos de los que vamos hablar queremos consentisar a las personas del impacto
  que estamos generando en nuestra comunidad al estar ignorando el aumento de temperatura que estamos
  sufriendo anualmente</cite></footer>
</blockquote>
<br>
<div class="container">
  <div class="row">
    <div class="col"><p class="lead">
      El aumento en la temperatura no solo afecta nuestro ambiente sino también a nosotros ya que debido a
      este aumento ya no podemos realizar actividades a ciertas horas del día todo esto por las altas
      temperaturas registradas durante el día ya que si se expone por un tiempo prolongado puede ocasiones
      enfermedades en la piel, golpe de calor, etc.
    </p></div>
    <div class="col">imagen</div>
    <div class="w-100"></div>
    <div class="col"><p class="lead">
      Otra de las principales consecuencias es el cambio climático, en nuestra comunidad en ocasiones esto
      se puede referir a las sequias que se tienen ciertos días del año, o por otro lado largas temporadas de
       lluvia y esto puede generar cambios en la cosecha de alguno de los cultivos de nuestra comunidad
    </p></div>
    <div class="col">imagen</div>
    <div class="w-100"></div>
    <div class="col"><p class="lead"> De seguir así se producirá un cambio en nuestro ecosistema ya que debido a estos efectos
      del cambio climático llega una sequia por un largo tiempo entonces algunas plantas se llegan  a secar
       hasta incluso cultivos enteros que no tiene riego se secan afectando la economía todo por estas sequias
      </p></div>
    <div class="col"><p class="lead">imagen</p></div>
    <div class="w-100"></div>
    <div class="col"><p class="lead">Las enfermedades en la piel son debidamente propias por el aumento en la
      temperatura esto puede provocar desde quemaduras en la piel hasta enfermedades graves (como lo pueden
      ser: Dermatitis de contacto, Herpes labial, Verruga, entre otros) que de no ser atendidas correctamente
      pueden llegar a ser contraproducentes con la salud de las personas
      </p></div>
    <div class="col"><p class="lead">imagen</p></div>

  </div>
</div>
<br>
<blockquote class="blockquote text-left">
<footer class="blockquote-footer block ter" > <cite title="Source Title">La tierra provee lo suficiente para
   saciar las necesidades de cada hombre, pero no la avaricia de cada hombre</cite>
  </footer>
</blockquote>

<router-outlet></router-outlet>
